# Dependencias
node_modules/
mongo/
# Archivos de Entorno
.env
.env.local
.env.development
.env.test

# Logs
npm-debug.log*
yarn-error.log

# Archivos de IDE
.vscode/

# Archivos de Sistema Operativo
# Ignora archivos basura de macOS y Windows
.DS_Store
Thumbs.db