version: '3.9'

services:
  api:
    build: .
    container_name: api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/ecommerce_db
      - JWT_SECRET=superclave123
    depends_on:
      - mongo

  mongo:
    image: mongo:8
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
